LLM_BINDING_HOST=your-llm-binding-host
LLM_MODEL_NAME=your-llm-model-name
LLM_EMBEDDING_MODEL_NAME=your-llm-embedding-model-name

TAGME_API_KEY=your-tagme-api-key
TAGME_API_URL=your-tagme-api-url

VERBOSE=True
VERBOSE_DEBUG=True

LOG_DIR=./logs

USER_AGENT=your-user-agent